<section class="login-block">
        <div class="pcoded-content">
          <!-- Container-fluid starts -->
          <div class="container ">
              <div class="row ">
                  <div class="col-sm-12 ">
                    <form action="/admin/edit-product/{{products._id}}" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name" value="{{products.name}}">
                        </div>
                        {{!-- <div class="form-group">
                            <label for="exampleInputPassword1">category</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" name="category" value="{{products.category}}">
                        </div> --}}
                         <div class="form-group col-md-4">
                         <label for="inputState">Category</label>
                         <select id="inputState" name="category" class="form-control">
                            <option>{{products.category}}</option>
                          {{#each category}}
                          
                          <option>{{this.category}}</option>
                          
                         
                          
                          {{/each}}
                         </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">description</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="description" value="{{products.description}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Price</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="price" value="{{products.price}}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">RealPrice</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Realprice" value="{{products.Realprice}}">
                        </div>
                        <div class="form-group">
                            {{!-- <label for="exampleFormControlFile1">Example file input</label> --}}
                            <div>
                            <label for="Imageid" id="image-div"><i class="fa fa-plus" aria-hidden="true"
                                    style="font-size:45px; border:1px solid black;padding:25px;cursor:pointer"></i></label>
                            <input type="file" id="Imageid" name="Image" class="form-control-file"
                                style="display:none;visibility:none;" onchange="viewImage(event)"
                                accept="image/jpg,image/jpeg" multiple>

                            <img id="image-show-0" src="/admin/product-Images/{{proDetails.Image.[0]}}" alt=""
                                style="width:100px ;height:auto;">
                            <img id="image-show-1" src="/admin/product-Images/{{proDetails.Image.[1]}}" alt=""
                                style="width:100px ;height:auto;">
                            <img id="image-show-2" src="/admin/product-Images/{{proDetails.Image.[2]}}" alt=""
                                style="width:100px ;height:auto;">

                        </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
              </div>
          </div>
        </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imageview').src=URL.createObjectURL(event.target.files[0])
    }
</script>
