<div class="pcoded-content">
  <!-- Page-header start -->

  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
          <div class="row">
            <!-- Material statustic card start -->
            <div class="col-xl-4 col-md-12">
              <div class="card mat-stat-card">
                <div class="card-block">
                  <div class="row align-items-center b-b-default">
                    <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="far fa-user text-c-purple f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>{{totalUsers}}</h5>
                          <p class="text-muted m-b-0">Users</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 p-b-20 p-t-20">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="fas fa-volume-down text-c-green f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>{{totalProducts}}</h5>
                          <p class="text-muted m-b-0">Products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{!-- <div class="row align-items-center">
                    <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="far fa-file-alt text-c-red f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>2000+</h5>
                          <p class="text-muted m-b-0">Files</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 p-b-20 p-t-20">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="far fa-envelope-open text-c-blue f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>120</h5>
                          <p class="text-muted m-b-0">Mails</p>
                        </div>
                      </div>
                    </div>
                  </div> --}}
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-12">
              <div class="card mat-stat-card">
                <div class="card-block">
                  <div class="row align-items-center b-b-default">
                    <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="fas fa-share-alt text-c-purple f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>{{totalOrders}}</h5>
                          <p class="text-muted m-b-0">Total Orders</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 p-b-20 p-t-20">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="fas fa-sitemap text-c-green f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>{{totalRevenue}}</h5>
                          <p class="text-muted m-b-0">Total Revenue</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{!-- <div class="row align-items-center">
                    <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="fas fa-signal text-c-red f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>350</h5>
                          <p class="text-muted m-b-0">Returns</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 p-b-20 p-t-20">
                      <div class="row align-items-center text-center">
                        <div class="col-4 p-r-0">
                          <i class="fas fa-wifi text-c-blue f-24"></i>
                        </div>
                        <div class="col-8 p-l-0">
                          <h5>100%</h5>
                          <p class="text-muted m-b-0">Connections</p>
                        </div>
                      </div>
                    </div>
                  </div> --}}
                </div>
              </div>
            </div>
            {{!-- <div class="col-xl-4 col-md-12">
              <div class="card mat-clr-stat-card text-white green ">
                <div class="card-block">
                  <div class="row">
                    <div class="col-3 text-center bg-c-green">
                      <i class="fas fa-star mat-icon f-24"></i>
                    </div>
                    <div class="col-9 cst-cont">
                      <h5>4000+</h5>
                      <p class="m-b-0">Ratings Received</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mat-clr-stat-card text-white blue">
                <div class="card-block">
                  <div class="row">
                    <div class="col-3 text-center bg-c-blue">
                      <i class="fas fa-trophy mat-icon f-24"></i>
                    </div>
                    <div class="col-9 cst-cont">
                      <h5>17</h5>
                      <p class="m-b-0">Achievements</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> --}}
            <!-- Material statustic card end -->
            <!-- order-visitor start -->


            <!-- order-visitor end -->

            <!--  sale analytics start -->
            <div class="col-xl-6 col-md-12">
              <div class="card table-card">
                <h4>Order Status</h4>
                <canvas id="doughnutChart"></canvas>
              </div>
            </div>
            <div class="col-xl-6 col-md-12">
              
              <div class="card table-card">
                <h4>Catogory Revenue</h4>
                <canvas id="polarChart"></canvas>
              </div>

            </div>

            <!--  sale analytics end -->

            <!-- Project statustic start -->
            <div class="col-xl-12">
              <div class="card proj-progress-card">




<h4>Monthly Revenue</h4>

                  <canvas id="barChart"></canvas>
              </div>
            </div>
            <div>
              <div>
                <div>
             {{!-- <canvas id="Chart4"></canvas> --}}
                </div>
              
              </div>
            </div>
          </div>
          <!-- Project statustic end -->
        </div>
      </div>
      <!-- Page-body end -->
    </div>
    <div>
        <div id="styleSelector"> </div>
    </div>
    
  </div>
</div>
</div>
<script>
  //doughnut
  let chart1 = document.getElementById("doughnutChart").getContext('2d');
  const dataB=['{{orderstatus.[0].count}}','{{orderstatus.[1].count}}','{{orderstatus.[2].count}}','{{ordercanceled.[1].count}}','{{ordercanceled.[0].count}}']
  console.log(dataB)
  let myLineChart = new Chart(chart1, {
    type: 'doughnut',
    data: {
      labels: ["placed","Shipped","Out for Delivery","canceled","Delivered" ],
      datasets: [{
        data: dataB,
        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C", "#949FB1", "#4D5360"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870", "#A8B3C5", "#616774"]
      }]
    },
    options: {
      responsive: true
    }
  });
</script>
<script>
  
  //polar
  let chart2 = document.getElementById("polarChart").getContext('2d');
  let cateName=[{{#each categories}}"{{this}}",{{/each}}];
  let revenue=[{{categRevenues}}];
  console.log(revenue,'revenue')
  var myPolarChart = new Chart(chart2, {
    type: 'polarArea',
    data: {
      labels: cateName,
      datasets: [{
        data: revenue,
        backgroundColor: ["rgba(219, 0, 0, 0.1)", "rgba(0, 165, 2, 0.1)", "rgba(255, 195, 15, 0.2)",
          "rgba(55, 59, 66, 0.1)", "rgba(0, 0, 0, 0.3)"
        ],
        hoverBackgroundColor: ["rgba(219, 0, 0, 0.2)", "rgba(0, 165, 2, 0.2)",
          "rgba(255, 195, 15, 0.3)", "rgba(55, 59, 66, 0.1)", "rgba(0, 0, 0, 0.4)"
        ]
      }]
    },
    options: {
      responsive: true
    }
  });
</script>



<script>
//bar
let chart3 = document.getElementById("barChart").getContext('2d');
let months=  [ "Aug", "Sep", "Oct", "Nov","Dec"];
let monthRevenue= [{{#each monthlyRevenue}} '{{this.monthlySales}}',{{/each}}];
console.log(monthRevenue,'monthRevenue')
var myBarChart = new Chart(chart3, {
  type: 'bar',
  data: {
    labels: months,
    datasets: [{
      label: '   monthly Revenue',
      data:monthRevenue,
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});
</script>

