<section class="login-block">
        <div class="pcoded-content">
          <!-- Container-fluid starts -->
          <div class="container ">
              <div class="row ">
                  <div class="col-sm-12 ">
        <div class="row mt-4 mb-4 " >
           <h4 class="">Sales Report</h4>
        </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">UserId</th>
                            <th scope="col">Date</th>
                            <th scope="col">Address</th>

                            <th scope="col">PinCode</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Amount</th>

                            <th scope="col">Payment_Method</th>
                            <th scope="col">Status</th>
                            <th></th>


                        </tr>
                    </thead>


                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>
                                <h5>{{this.userId}}</h5>

                            </td>

                            <td>
                                <h5>{{this.Date}}</h5>
                            </td>

                            <td>
                                <h5>{{this.name}}{{this.orderDetails.city}}{{this.orderDetails.district}}{{this.orderDetails.state}}
                                </h5>
                            </td>
                            <td>
                                <h5>{{this.pinCode}}</h5>
                            </td>
                            <td>
                                <h5>{{this.orderDetails.phone}}</h5>
                            </td>
                            <td>
                                <h5>{{this.total}}</h5>
                            </td>
                            <td>
                                <h5>{{this.paymentMethod}}</h5>
                            </td>
                            <td>
                                
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        {{this.status}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    
                                        <a href="/admin/changeStatus/{{this._id}}/Shipped"><span class="btn" >Shipped</span></a>
                                        <a href="/admin/changeStatus/{{this._id}}/Cancel Order"><span class="btn">Cancel Order</span></a>
                                        <a href="/admin/changeStatus/{{this._id}}/Out For Delivery"><span class="btn">Out for Delivery</span></a>
                                        <a href="/admin/changeStatus/{{this._id}}/Delivered"><span class="btn"> Delivered</span></a>
                                        
                                    </div>
                                </div>
                               
                            </td>

                            <td>
                                <button class="btn btn"><a href="/admin/ViewOrderdProducts/{{this._id}}">View Products</a>
                                </button>


                            </td>
                            {{!-- <td><button class="btn "><a href="/admin/cancelOrder/{{this._id}}">Cancel Order</a>
                                </button></td> --}}

                        </tr>
                        {{/each}}


                        <tr class="bottom_button">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>

                        </tr>

                    </tbody>
                </table>
                  </div>
              </div>
          </div>
        </div>
</section>


          