{{!-- <section class="banner-area organic-breadcrumb">
    <div class="container">
        {{!-- <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"> --}}
            <div class="col-first d-flex flex-wrap align-items-center justify-content-center mt-5">

                <nav class="d-flex align-items-center ">
                    {{!-- <a href="/home">Home<span class="lnr lnr-arrow-right"></span></a> --}}
                    {{!-- <a href="#">wishlist</a> --}}
                </nav>
            </div>
            {{!--
        </div> --}}
    </div>
</section> --}}
<div class="col-first d-flex flex-wrap align-items-center justify-content-center mt-5">
    <h1>Orders</h1>
</div>
<section class="pcoded-content ml-5">
    <div class="pcoded-content ">

        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">UserId</th>
                            <th scope="col">Date</th>
                            <th scope="col">Address</th>

                            <th scope="col">PinCode</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Amount</th>

                            <th scope="col">Payment_Method</th>
                            <th scope="col">Status</th>


                        </tr>
                    </thead>


                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>
                                <h5>{{this.userId}}</h5>

                            </td>

                            <td>
                                <h5>{{this.Date}}</h5>

                            <td>
                                <h5>{{this.name}}{{this.orderDetails.city}}{{this.orderDetails.district}}{{this.orderDetails.state}}
                                </h5>
                            </td>
                            <td>
                                <h5>{{this.pinCode}}</h5>
                            </td>
                            <td>
                                <h5>{{this.orderDetails.phone}}</h5>
                            </td>
                            <td>
                                <h5>{{this.total}}</h5>
                            </td>
                            <td>
                                <h5>{{this.paymentMethod}}</h5>
                            </td>
                            <td>
                                
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        {{this.status}}
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    
                                        <a href="/admin/changeStatus/{{this._id}}/Shipped"><span class="btn" >Shipped</span></a>
                                        <a href="/admin/changeStatus/{{this._id}}/Cancel Order"><span class="btn">Cancel Order</span></a>
                                        <a href="/admin/changeStatus/{{this._id}}/Out For Delivery"><span class="btn">Out for Delivery</span></a>
                                        <a href="/admin/changeStatus/{{this._id}}/Delivered"><span class="btn"> Delivered</span></a>
                                        
                                    </div>
                                </div>
                               
                            </td>

                            <td>
                                <button class="btn btn"><a href="/viewOrderProducts/{{this._id}}">View Products</a>
                                </button>


                            </td>
                            <td><button class="btn "><a href="/admin/cancelOrder/{{this._id}}">Cancel Order</a>
                                </button></td>

                        </tr>
                        {{/each}}


                        <tr class="bottom_button">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>

                        </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</section>