<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="cart_area" id="cartRefresh">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"> Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th></th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    {{#if empty}}
                                <h1>Your Cart is empty</h1>
                                {{/if}}
                        
                    <tbody>
                        
                         {{#each products}}

                        <tr id="{{this._id}}" >
                            <td>

                                <div class="media">
                                    <div class="d-flex">
                                        <img src="/product-Images/{{product.image.[0]}}" alt=""
                                            style="width: 100px; ;">
                                    </div>
                                    <div class="media-body">
                                        <p>{{this.product.name}}</p>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <h5 id="price-{{this.product._id}}">{{this.product.price}}</h5>
                            </td>
                             

                            <td>
                                {{!-- {{#each quantity}} --}}
                                <div class="product_count" >
                                    <input type="text" name="qty" id="qtyy-{{this.product._id}}" maxlength="12" value={{this.quantity}}
                                        title="Quantity:" class="input-text qty" disabled>
                                    <button
                                        onclick="increaseQuantity('{{this._id}}','{{this.product._id}}',-1)"
                                        class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="reduceQuantity('{{this._id}}','{{this.product._id}}',+1)"
                                        class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>

                                </div>
                            </td>
                            <td>
                                <h5 id="prodTotal{{this.product._id}}">{{this.total}}</h5>
                            </td>
                            <td>

                            </td>
                            
                            <td><button type="button" class="btn-danger" onclick="remove('{{this._id}}','{{this.product._id}}')">Remove</button>
                            </td>
                            
                            {{/each}}
                        </tr>

                        <tr class="bottom_button">
                            {{!-- <td>
                                <a class="gray_btn" href="#">Update Cart</a>
                            </td> --}}
                            <td>

                            </td>
                           
                            <td>

                            </td>
                            
                            <td>
                                <div>
                                    <span class="text-danger ">Total  Price</span>
                                    <span id="cartTotal" class="gray_btn">{{Total}}</span>
                                </div>
                                
                                
                            </td>
                            <td>
                               
                            </td>
                        </tr>
                        
                        <tr class="proceed Checkout">
                            <td>
                                <a class="primary-btn" href='/shop'>Continue Shopping</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            
                            <td>
                                <div>
                                    {{!-- <button  class="btn-danger"><a href="" ><h3> Checkout</h6></a></button> --}}
                                    <a class="primary-btn" href='/checkout'>Proceed to checkout</a>
                                </div>
                                
                                
                            </td>
                        </tr>

                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<script>
    function remove(userCartId,prodId) {
        
        $.ajax({
            url: '/remove-cart',
            method: 'post',
            data:{
                cart:userCartId,
                product:prodId
            },
            success: (response) => {
                if (response.status) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Your Item has been Removed',
                        timer:1700,
                        showConfirmButton: false,
                        

                    })
                    setTimeout(() => {
                    location.reload()
                    }, 1200)
                    //let cartCount = parseInt(document.getElementById('cartCount').innerHTML)
				//	cartCount-=1
				//	document.getElementById('cartCount').innerHTML  = cartCount

                }

            }
        })

    } 
</script>
<script>
    function reduceQuantity(userCartId,prodId,count) {
        let qty=document.getElementById(`qtyy-${prodId}`).value
        console.log(qty,"ithann quantity")
       if(qty<=1){

       }else{
        $.ajax({
            url: '/change-product-quantity',
            data:{
                cart:userCartId,
                product:prodId,
                count:count
            },
            method: 'post',
            success: (response) => {
                console.log(response)
                if(response.status){
                    console.log(response,'asdasdasasd1211212')
                    let prodQuantity = document.getElementById(`qtyy-${prodId}`).value
                    document.getElementById(`qtyy-${prodId}`).value = prodQuantity - 1
                    document.getElementById('prodTotal'+prodId).innerHTML = parseInt(document.getElementById(`price-${prodId}`).innerHTML) * parseInt(document.getElementById(`qtyy-${prodId}`).value)
                    document.getElementById('cartTotal').innerHTML = response.total
                    //location.reload()
                    //$('#cartRefresh').load(location.href + "#cartRefresh")
                }
            }
        })
       }
    }
</script>
<script>
    function increaseQuantity(userCartId,prodId,count) {
        $.ajax({
            url: '/change-product-quantity',
            data:{
                cart:userCartId,
                product:prodId,
                count:count
            },
            method: 'post',
            success: (response) => {
                if(response.status){
                    let prodQuantity = parseInt(document.getElementById(`qtyy-${prodId}`).value)
                    document.getElementById(`qtyy-${prodId}`).value = prodQuantity + 1
                    document.getElementById('prodTotal'+prodId).innerHTML = parseInt(document.getElementById(`price-${prodId}`).innerHTML) * parseInt(document.getElementById(`qtyy-${prodId}`).value)
                document.getElementById('cartTotal').innerHTML = response.total
                
                }
            }
        })
    }
</script>