
<style>
	 {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}
</style>

<!-- Start Header Area -->
{{!-- <header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="index.html"><img src="/img/logo.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
						<li class="nav-item submenu dropdown active">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Shop</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
								<li class="nav-item active"><a class="nav-link" href="single-product.html">Product
										Details</a></li>
								<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
								<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
								<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
							</ul>
						</li>
						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Blog</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
								<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
							</ul>
						</li>
						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Pages</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
								<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
								<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
						<li class="nav-item">
							<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between">
				<input type="text" class="form-control" id="search_input" placeholder="Search Here">
				<button type="submit" class="btn"></button>
				<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
			</form>
		</div>
	</div>
</header> --}}
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Product Details Page</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
					<a href="single-product.html">product-details</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">

			<div class="col-lg-6">
			  <div class="img-zoom-container">
				<div class="s_Product_carousel">
					<div class="single-prd-item ">
						{{!-- <img class="img-fluid" src="/product-Images/{{product.image.[0]}}" style="width: 500px;" alt=""> --}}
						<img id="myimage" src="/product-Images/{{product.image.[0]}}" style="width: 500px;"height="240" alt="">
				<div id="myresult" class="img-zoom-result"></div>
					</div>
					<div class="single-prd-item">
						<img id="myimage1" src="/product-Images/{{product.image.[1]}}" style="width: 500px;" height="240" alt="">
				<div id="myresult1" class="img-zoom-result"></div>
						{{!-- <img class="img-fluid" src="/product-Images/{{product.image.[1]}}" style="width: 500px;" alt=""> --}}
					</div>
					<div class="single-prd-item">
						<img id="myimage2" src="/product-Images/{{product.image.[2]}}" style="width: 500px;" height="240" alt="">
				<div id="myresult2" class="img-zoom-result"></div>
						{{!-- <img class="img-fluid" src="/product-Images/{{product.image.[2]}}" style="width: 500px;" alt=""> --}}
					</div>


				</div>
			  </div>
			</div>
			
				
			
			
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>{{product.name}}</h3>
					<h2>₹{{product.price}}</h2>
					<ul class="list">
						<li><a class="active" href="#"><span>Category</span> : {{product.category}}</a></li>
						{{!-- <li><a href="#"><span>Availibility</span> :{{product.stock}}</a></li> --}}
					</ul>
					<p>{{product.description}}</p>
					<div class="prd-bottom d-flex">
						<a onclick=addToCart('{{product._id}}') class="social-info mr-5">
							<span class="ti-bag"></span>

						</a>
						<a onclick="addToWishlist('{{product._id}}')" class="social-info">
							<span class="lnr lnr-heart"></span>

						</a>
					</div>

				</div>
			</div>


		</div>
	</div>

</div>
</div>
</div>
{{!-- 
<script>
	function addToWishlist(wishId) {

		$.ajax({
			url: '/add-wishlist/' + wishId,
			method: 'get',
			success: (response) => {
				if (response.login) {
					Swal.fire({
						icon: 'info',
						title: 'Please Login',
						showConfirmButton: false,
					})
				}

				else if (response.exist) {
					Swal.fire({
						icon: 'success',
						title: 'Already Added To Wishlist',
						showConfirmButton: true,
					})
				} else {
					Swal.fire({
						icon: 'success',
						title: 'Added To Wishlist',
						showConfirmButton: true,
					})
				}
				setTimeout(() => {

				}, 1200)
			}
		})
	}
</script>
<script>
	function addToCart(cartId) {

		$.ajax({
			url: '/add-cart/' + cartId,
			method: 'get',
			success: (response) => {
				if (response.login) {
					Swal.fire({
						icon: 'info',
						title: 'Please Login',
						showConfirmButton: false,
					})
				}
				else if (response.exist) {
					Swal.fire({
						icon: 'success',
						title: 'Already Added To Cart',
						timer: 1000,
						showConfirmButton: false,
					})
				}
				else {
					Swal.fire({
						icon: 'success',
						title: 'Added To Cart',
						timer: 1000,
						showConfirmButton: false,
					})
				}
				setTimeout(() => {
					location.reload()
				}, 1200)
			}
		})
	}

</script> --}}

<script>
	function imageZoom(imgID, resultID) {
  var img, lens, result, cx, cy;
  img = document.getElementById(imgID);
  result = document.getElementById(resultID);
  /* Create lens: */
  lens = document.createElement("DIV");
  lens.setAttribute("class", "img-zoom-lens");
  /* Insert lens: */
  img.parentElement.insertBefore(lens, img);
  /* Calculate the ratio between result DIV and lens: */
  cx = result.offsetWidth / lens.offsetWidth;
  cy = result.offsetHeight / lens.offsetHeight;
  /* Set background properties for the result DIV */
  result.style.backgroundImage = "url('" + img.src + "')";
  result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
  /* Execute a function when someone moves the cursor over the image, or the lens: */
  lens.addEventListener("mousemove", moveLens);
  img.addEventListener("mousemove", moveLens);
  /* And also for touch screens: */
  lens.addEventListener("touchmove", moveLens);
  img.addEventListener("touchmove", moveLens);
  function moveLens(e) {
    var pos, x, y;
    /* Prevent any other actions that may occur when moving over the image */
    e.preventDefault();
    /* Get the cursor's x and y positions: */
    pos = getCursorPos(e);
    /* Calculate the position of the lens: */
    x = pos.x - (lens.offsetWidth / 2);
    y = pos.y - (lens.offsetHeight / 2);
    /* Prevent the lens from being positioned outside the image: */
    if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
    if (x < 0) {x = 0;}
    if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
    if (y < 0) {y = 0;}
    /* Set the position of the lens: */
    lens.style.left = x + "px";
    lens.style.top = y + "px";
    /* Display what the lens "sees": */
    result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /* Get the x and y positions of the image: */
    a = img.getBoundingClientRect();
    /* Calculate the cursor's x and y coordinates, relative to the image: */
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /* Consider any page scrolling: */
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}
</script>

<script>
imageZoom("myimage", "myresult");
</script>
<script>
imageZoom("myimage1", "myresult1");
</script>
<script>
imageZoom("myimage2", "myresult2");
</script>
