<section class="banner-area organic-breadcrumb">
    <div class="container">
        {{!-- <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Profile Page</h1>

            </div>
        </div> --}}
    </div>
</section>



<section class="profile_area">
    <div class="container">
        <div class="profile_inner">
            <div class="table-responsive">


                <div class="page-wrapper">

                    <div class="container-fluid">

                        <div class="row page-titles">
                            <div class="col-md-5 col-8 align-self-center">
                                <h3 class="text-themecolor m-b-0 m-t-0">Profile</h3>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                    <li class="breadcrumb-item active">Profile</li>
                                </ol>
                            </div>
                            <div class="col-md-7 col-4 align-self-center">
                                {{!-- <a href="https://themewagon.com/themes/material-bootstrap-4-free-admin-template/"
                                    class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">Download
                                    Now</a> --}}
                            </div>
                        </div>

                        <div class="row">
                            <!-- Column -->
                            <div class="col-lg-4 col-xlg-3 col-md-5">
                                <div class="card">
                                    <div class="card-block mt-1">
                                        <center class="m-t-30"> <img src="/img/banner/dm-profile.jpg" class="img-circle"
                                                width="150" />
                                            {{!-- <h4 class="card-title m-t-10"></h4> --}}
                                            {{!-- <div class=""> --}}
                                                <div class="card-block mt-5">
                                                    {{!-- <center class="m-t-30"> <img src="/img/banner/dm-profile.jpg"
                                                            class="img-circle" width="150" /> --}}
                                                        {{!-- <h4 class="card-title m-t-10">{{user.Name}}</h4> --}}
                                                        {{!-- <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                                                        --}}
                                                        {{!-- <div class="row text-center justify-content-md-center">
                                                            <div class="col-4"><a href="javascript:void(0)"
                                                                    class="link"><i class="icon-people"></i>
                                                                    <font class="font-medium">254</font>
                                                                </a></div>
                                                            <div class="col-4"><a href="javascript:void(0)"
                                                                    class="link"><i class="icon-picture"></i>
                                                                    <font class="font-medium">54</font>
                                                                </a></div>
                                                        </div> --}}
                                                        <div class="card-block m-t-30 ">
                                                            {{!-- <h4 class="card-title m-t-10 ml-5 mb-5">{{user.Name}}
                                                            </h4> --}}
                                                            <h4 class="card-title m-t-10 ml-5">My Orders <a
                                                                    href="/viewOrders"><span class="ti-bag ml-5"></span></a>
                                                            </h4>
                                                            <h4 class="card-title m-t-10 mt-4 ml-5">My Wishlist <a
                                                                    href="/wishlist " class="social-info ml-5">
                                                                    <span class="lnr lnr-heart"></span> </a></h4>
                                                            <h4 class="card-title m-t-10 mt-4 ml-5">Add Address<a
                                                                    href="/Address"><span
                                                                        class="ti-pencil ml-5"></span></a> </h4>
                                                            <h4 class="card-title m-t-10 ml-5 mt-4">Logout<a
                                                                    href="/logout"><span
                                                                        class="ti-share-alt ml-5"></span></a> </h4>
                                                        </div>

                                                        <div class="d-flex justify-content-between mt-5">
                                                            {{!-- <button class="ml-5"> Add Adress</button>
                                                            <button class="mr-5">Logout</button> --}}
                                                            {{!--
                                                        </div> --}}
                                                        {{!--
                                                    </center> --}}
                                                </div>
                                            </div>
                                            {{!-- <h6 class="card-subtitle">Accoubts Manager Amix corp</h6> --}}
                                            {{!-- <div class="row text-center justify-content-md-center">
                                                <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                                            class="icon-people"></i>
                                                        <font class="font-medium">254</font>
                                                    </a></div>
                                                <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                                            class="icon-picture"></i>
                                                        <font class="font-medium">54</font>
                                                    </a></div>
                                            </div> --}}
                                        </center>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8 col-xlg-9 col-md-7 ">
                                <div class="card">
                                    <div class="card-block">
                                        {{!-- <form class="form-horizontal  form-material"> --}}
                                            {{!-- <div class="group"> --}}
                                                <label class="col-md-12 mt-2 mb-3">NAME</label>

                                                <div class="col-md-12">
                                                    <h4>{{user.Name}}</h4>
                                                    {{!-- <input placeholder={{user.Name}}
                                                        class="form-control form-control-line"> --}}
                                                </div>
                                                {{!--
                                            </div> --}}
                                            <div class="form-group">
                                                <h4>{{this.Email}}</h4>
                                                <label for="example-email" class="col-md-12 mt-4">Email</label>
                                                <br>
                                                <div class="col-md-12 mb-4">
                                                    <h4>{{user.Email}} </h4>
                                                    {{!-- <input type="email" placeholder={{user.Email}}
                                                        class="form-control form-control-line" name="example-email"
                                                        id="example-email"> --}}
                                                </div>
                                            </div>
                                            {{!-- <div class="form-group">
                                                <label class="col-md-12">Password</label>
                                                <div class="col-md-12">
                                                    <input type="password" value="password"
                                                        class="form-control form-control-line">
                                                </div>
                                            </div> --}}
                                            <div class="form-group">
                                                <label class="col-md-12 mb-1">Phone No</label>
                                                <div class="col-md-12">
                                                    <h4>{{user.Phone}} </h4>
                                                    {{!-- <input type="text" placeholder="{{user.Phone}}"
                                                        class="form-control form-control-line"> --}}
                                                </div>
                                            </div>




                                            {{!-- <div class="form-group">
                                                <label class="col-md-12">address</label>
                                                <div class="col-md-12">
                                                    <textarea rows="5"
                                                        class="form-control form-control-line"></textarea>
                                                </div>
                                            </div> --}}
                                            {{!-- <div class="form-group">
                                                <label class="col-sm-12">Select Country</label>

                                            </div> --}}
                                            {{!-- <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-success">Update Profile</button>
                                                </div>
                                            </div> --}}
                                            {{!--
                                        </form> --}}
                                    </div>


                                </div>
                                <div class="d-flex">
                                    {{#each user.address}}
                                    <div class="card d-flex" style="width: 16rem;">

                                        <div class="card-body">
                                            <h5>{{this.name}} {{this.house_No}} </h5>
                                            <p class="card-title">{{this.area}} {{this.city}}</p>
                                            <p class="card-text"> {{this.city}} {{this.state}} {{this.pinCode}}</p>
                                            <button><a href="/remove-address/{{this._addressId}}">Remove</a></button>

                                            {{!-- <button onclick="remove('{{this.address}}')">Remove</button> --}}
                                            
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-xlg-3 col-md-5">

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
    </div>
</section>
{{!-- <script>
    function remove(addId) {
        alert()
        $.ajax({
            
            url: '/remove-address',
            method: 'get',
            data:{
                address:addId,
               
            }
            
        })

    } 
</script> --}}